body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}

div.all {
  content: "";
  overflow: hidden;
  width: 100%;
}

div.top{
  position: fixed;
  content: "";
  overflow: hidden;
  clear: both;
  width: 100%;
  height: 100%;
  color: black
}

div.welcome {
  margin-left: 10%;
  margin-top: 15vh;
  margin-right: 5%;
  word-wrap: normal;
  width: 40%;
  float:left
}

p.icons {
  text-align: center
}

a.icons {
  color: black;
  text-decoration: none;
  font-size: 4vh;
}

hr.hr_blue {
  border: 1px solid black;
  margin-top: 0%;
  margin-bottom: 0%;
}

div.right_side {
  float: right;
  width: 40%;
}
div.right_image {
  margin-right: 5%;
  margin-top: 5%;
  padding: 0%;
}

div.spacer {
  clear:both;
  height:0;line-height:0;display:block;
  width: 100%;

}

img.top_right{
  max-width:100%;
  min-height: 90vh;
  object-fit: cover;
}

p.caption {
  margin-top: 0%;
  font-style: italic;
  text-align: right;
  font-size: smaller;
}


span.blue {
  color:rgb(36, 58, 169)
}

h1.hellowave {
  font-size: 8vh;
  margin-bottom: 0%;
}

h2.welcometext {
  text-shadow: 15px;
}

div.middle {
  width: 100%;
  position:relative;
  display: block;
  height: 100%;
  background-color: rgb(232, 232, 232);
  z-index: 99;
  margin-top: 100vh;
}

div.middle_content {
  margin-top: 0px;
}

div.col_left{
  margin-left: 10vh;
  margin-top: 0vh;
  width: 67%;
  left: 0%;
  word-wrap: normal;
}

div.col_right{
  margin-top: 0vh;
  width: 40%;
  left: 50;
  word-wrap: normal;
}

p.middle_para {
  color: black
}

li.bullets{
  color: black
}

h1.title {
  color: black;
  font-size: 13vh;
  margin-bottom: 0%;
}

h2.title {
  color:black;
  font-size: 5vh;
}
